<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="adriangradinar.com.gpslogger">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".services.RestartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".services.AlarmReceiver">
            <intent-filter>
                <action android:name="adriangradinar.com.gpslogger.ACTION" />
            </intent-filter>
        </receiver>

        <service android:name=".services.LocationService" />

        <activity
            android:name=".utils.Alert"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <receiver
            android:name=".services.WiFiReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".services.Updater"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="adriangradinar.com.gpslogger.updater" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.UploadIntentService"
            android:exported="false" />
    </application>

</manifest>